[package]
name = "bin"
version = "0.1.0"
edition = "2021"

[dependencies]
kernel = { path = "../kernel" }
helper = { path = "../helper" }
application = { path = "../application" }
driver = { path = "../driver"  }
tokio = { version = "1.26.0" }
tracing-subscriber = { version = "0.3.16", features = ["std", "registry", "env-filter", "ansi", "json"] }
anyhow = { version = "1.0.70", features = ["backtrace"] }
dotenv = "0.15.0"
async-trait = "0.1.67"
derive-new = "0.5.9"
clap = "4.1.10"
serde_json = {version = "1.0.94", features = ["default"]}
chrono = "0.4.24"

[[bin]]
name = "api"
path = "src/api/main.rs"

[[bin]]
name = "cli"
path = "src/cli/main.rs"

[[bin]]
name = "generate-authentication-record"
path = "src/tool/generate_authentication_record.rs"
